<div>
    
    <mat-card>
        <form>
            <div class="row mt-5">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label>Login</label>
                    <input class="form-control" type="text">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label>Mot de passe</label>
                    <input class="form-control" type="password">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 mt-2">
                    <button class="btn btn-primary" [routerLink]="'/home'">Se connecter</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </mat-card>
</div>

